@import '../../styles.scss';

.container {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
}

.product {
  display: flex;
  flex-direction: row;
  padding-top: 32px;
  background-color: #fff;
}

.product_firstSection {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.product_desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 32px;

  & > span {
    font-size: 28px;
  }

  & > p {
    font-size: 16px;
    color: #999999;
    padding: 32px 0px;
    text-align: left;
  }
}

.product_secondSection {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;

  & > h2 {
    width: 85%;
    font-size: 24px;
  }

  & > span {
    font-size: 46px;
    padding: 32px 0px;
  }

  & > button {
    width: 230px;
    height: 40px;
    background-color: #3483fa;
    color: #eeeeee;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
}

.product_secondSection > button:hover {
  background-color: #2968c8;
}

.product_secondSection > button:active {
  transform: translateY(2px);
}

.product_subtitle {
  font-size: 14px;
  margin-bottom: 16px;
}

.product_img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  & > img {
    width: 680px;
    height: auto;
    display: block;
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 7.7rem);
}
